@font-face {
	font-family: ostrich-regular;
	src: url(fonts/ostrich-regular.ttf);
}

@font-face {
	font-family: ostrichsans-black;
	src: url(fonts/OstrichSans-Black.otf);
}

@font-face {
	font-family: ostrichsans-bold;
	src: url(fonts/OstrichSans-Bold.otf);
}

@font-face {
	font-family: proxima-nova-thin;
	src: url(fonts/Proxima-Nova-Thin.ttf);
}

.divheader {
	text-align: center;
	margin-top: 10px;
	padding: 10px;
	border: 1px solid white;
	border-width: 2px;
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-size: 25px;
	background: #006a97;
	font-family: proxima-nova-thin;
	color: white;
}

.button {
	font-family: ostrichsans-black;
	font-size: 50px;
	width: 80%;
	background-color: #3baeda;
	border-radius:  40px;
	color: white;
}

.theader {
	
	font-family: ostrichsans-black;
	color: white;
	letter-spacing: 1px;
	width: 20%;
}

.cell {
	padding: 15px;
	float: none;
	width: 20%;

	font-family: proxima-nova-thin;
	background-color: #d9d9d9;
	line-height: 1.5;

	display: table-cell;
	margin: auto;
}