@font-face {
	font-family: ostrich-regular;
	src: url(fonts/ostrich-regular.ttf);
}

@font-face {
	font-family: ostrichsans-black;
	src: url(fonts/OstrichSans-Black.otf);
}

@font-face {
	font-family: ostrichsans-bold;
	src: url(fonts/OstrichSans-Bold.otf);
}

@font-face {
	font-family: proxima-nova-thin;
	src: url(fonts/Proxima-Nova-Thin.ttf);
}


h5 {
	text-shadow: 2px 2px #000000;
}


a:link {
	color: gray;
	text-decoration: none;
}

/* visited link */
a:visited {
	color: gray;
	text-decoration: none;
}

/* mouse over link */
a:hover {
	color: blue;

}

.columnheader {
	font-size: 50px;
	font-family: ostrichsans-bold;
	line-height: 1.2;
}

.column2 {
	padding: 15px;
	float: none;
	width: 50%;

	font-family: proxima-nova-thin;
	font-size: 15px;
	color: white;
	line-height: 1.5;

	display: table-cell;
	margin: auto;	
}

.column4 {
	padding: 15px;
	float: none;
	width: 25%;

	font-family: proxima-nova-thin;
	font-size: 15px;
	color: white;
	line-height: 1.5;

	display: table-cell;
	margin: auto;
}
.column2_3 {
	padding: 15px;
	float: none;
	width: 66.67%;
	/*width: 33.33%;*/

	font-family: proxima-nova-thin;
	font-size: 15px;
	color: white;
	line-height: 1.5;

	display: table-cell;
	margin: auto;

	/*outline: 5px dotted green;*/
}

.column1_3 {
	padding: 15px;
	float: none;
	width: 33.33%;
	/*width: 66.67%;*/

	font-family: proxima-nova-thin;
	font-size: 15px;
	color: white;
	line-height: 1.5;

	display: table-cell;
	margin: auto;

	/*outline: 5px dotted green;*/
}

/* Clear floats after the columns */
.row:after {
	display: table; /* Make the container element behave like a table */
	width: 100%; /* Set full-width to expand the whole page */
	max-width: 100%;

	content: "";
	clear: both;
}

@media only screen and (max-width: 600px) {
	.column4 { 
		display: block;
		width: 100%;
	}
}

@media only screen and (max-width: 600px) {
	.column2 { 
		display: block;
		width: 100%;
	}
}

iframe
{
    position: relative;
    height: 100%;
    width: 100%; 
}

.header {
	max-width: 100%;
	margin 0 auto;

	font-size: 50px;
	padding: 25px;
	font-family: ostrichsans-black;

	position: relative;
	z-index: 2;
	color: #0085bd;

	display: table-cell;
	vertical-align: middle;

}

.container {
	max-width: 100%;
	margin 0 auto;
	background: #d9d9d9;
	font-size: 20px;
	padding: 25px;
	font-family: proxima-nova-thin;
}

.parallaxheader {
	min-height: 500px;
	background: transparent;
	width: 100%; 
}

.parallax {
	min-height: 400px;
	background: transparent;
	width: 100%; 
	display: table;
}