@font-face {
	font-family: ostrich-regular;
	src: url(fonts/ostrich-regular.ttf);
}

@font-face {
	font-family: ostrichsans-black;
	src: url(fonts/OstrichSans-Black.otf);
}

@font-face {
	font-family: ostrichsans-bold;
	src: url(fonts/OstrichSans-Bold.otf);
}

@font-face {
	font-family: proxima-nova-thin;
	src: url(fonts/Proxima-Nova-Thin.ttf);
}


a:link {
	color: gray;
	text-decoration: none;
}

/* visited link */
a:visited {
	color: gray;
	text-decoration: none;
}

/* mouse over link */
a:hover {
	color: blue;

}

.column2 {
	float: left;
	width: 50%;
}
.column3 {
	padding: 15px;
	float: left;
	width: calc(33.33% - 30px);
	background: #4286f4;
	font-family: proxima-nova-thin;
	font-size: 20px;
	height: 270px;
	margin: auto;
	color: white;
}
/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}


.header {
	max-width: 100%;
	margin 0 auto;
	/*background: #0085bd;*/
	font-size: 50px;
	padding: 25px;
	font-family: ostrichsans-bold;

	position: relative;
	z-index: 2;
	color: #0085bd;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: white;

}

.container {
	max-width: 100%;
	margin 0 auto;
	background: #d9d9d9;
	font-size: 20px;
	padding: 25px;
	font-family: proxima-nova-thin;
}



.parallaxheader {
	min-height: 500px;
	background: transparent;
	width: 100%; 
}

.parallax {
	min-height: 400px;
	background: transparent;
	width: 100%; 
}